body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#photo_restau {
    width: 100%;
    height: 250px;
    object-fit: cover;
}