body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#photo_restau {
    width: 100%;
    height: 260px;
    object-fit: cover;
    @include over-mobile {
        height: 320px;
    }
    @include over-tablette {
        height: 380px;
    }
}