.menu {
    background-color: $gris-fond;
    border-radius: 25px 25px 0 0;
    position: relative;
    margin-top: -40px;
    padding-bottom: 50px;
    &__titre {
        font-family: 'Shrikhand', sans-serif;
        font-size: 1.8em;
        padding-top: 30px;
        margin-top: 0;
        margin-left: 2.5%;
        margin-bottom: 0;
        display: inline-block;
    }
    &__heart {
        @include coeur_menu;
        transition: all 500ms;
        &:hover + .coeur_plein {
            transform: scale(1);
        }
        &:hover + .coeur_vide {
            transform: scale(0);
        }
    }
    .coeur_vide {
        z-index: 0;
        transform: scale(1);
        cursor: pointer;
    }
    .coeur_plein {
        z-index: 1;
        cursor: pointer;
        color: transparent;
        background: $degrade-coeur;
        background-clip: text;
        -webkit-background-clip: text;
        transform: scale(0);
        &:hover {
            transform: scale(1);
        }
    }
    &__bloc {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include over-ecran_large {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__groupe {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: normal;
        margin-top: 50px;
        margin-left: 2.5%;
        padding-top: 0;
        position: relative;
        @include over-tablette {
            font-size: 1.3em;
            &::after {
                width: 60px;
            }
        }
        &::after{
            content: "";
            height: 3px;
            width: 40px;
            background-color: $couleur-tertiaire;
            position: absolute;
            left: 0;
            bottom: -8px;
            @include over-tablette {
                width: 60px;
            }
        }
    }
    &__plat {
        @include plats;
        cursor: pointer;
        @include over-ecran_large {
            max-width: 40%;
        }
        h3 {
            width: 100%;
            padding-left: 8px;
            margin-top: 10px;
            margin-bottom: 0;
        }
        p {
            padding-left: 8px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .prix {
            font-weight: bold;
            padding-right: 15px;
        }
        .fas {
            display: none;
        }
    }
    &__bouton {
        @include boutons;
    }
}