@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto/Roboto-Black.ttf") format("truetype"), url("../../fonts/roboto/Roboto-BlackItalic.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../../fonts/roboto/Roboto-BoldItalic.ttf") format("truetype"), url("../../fonts/roboto/RobotoCondensed-Bold.ttf") format("truetype"), url("../../fonts/roboto/RobotoCondensed-BoldItalic.ttf") format("truetype"), url("../../fonts/roboto/RobotoCondensed-Italic.ttf") format("truetype"), url("../../fonts/roboto/RobotoCondensed-Light.ttf") format("truetype"), url("../../fonts/roboto/RobotoCondensed-LightItalic.ttf") format("truetype"), url("../../fonts/roboto/RobotoCondensed-Regular.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Italic.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Light.ttf") format("truetype"), url("../../fonts/roboto/Roboto-LightItalic.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../../fonts/roboto/Roboto-MediumItalic.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Thin.ttf") format("truetype"), url("../../fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-family: "Shrikhand";
  src: url("../../fonts/shrikhand/Shrikhand-Regular.otf") format("opentype");
}
.menu__bouton {
  display: block;
  margin: auto;
  margin-top: 30px;
  height: 50px;
  width: 200px;
  box-shadow: #cfcaca 5px 5px 5px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1em;
  font-weight: bolder;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#photo_restau {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.head {
  display: flex;
  padding-top: 5px;
}
.head__link {
  margin-left: 5%;
  align-self: center;
  z-index: 1;
}
.head__title {
  font-family: "Shrikhand", sans-serif;
  flex: 1;
  text-align: center;
  font-size: 1.5em;
  margin: 5px;
  position: relative;
  right: 5%;
}

.menu {
  background-color: #e7e5e5;
  border-radius: 25px 25px 0 0;
  position: relative;
  bottom: 40px;
  padding-bottom: 50px;
}
.menu__titre {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8em;
  margin-left: 2.5%;
  margin-bottom: 0;
  display: inline-block;
}
.menu__heart {
  font-size: 1.5em;
  font-weight: normal;
  position: absolute;
  top: 20px;
  right: 30px;
}
.menu__groupe {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
  margin-top: 50px;
  margin-left: 2.5%;
}
.menu__groupe--underline {
  text-decoration: underline #99E2D0 3px;
  text-underline-offset: 8px;
}
.menu__plat {
  max-width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 15px;
  box-shadow: #cfcaca 5px 5px 5px;
  margin-bottom: 15px;
  cursor: pointer;
}
.menu__plat h3 {
  width: 100%;
  padding-left: 8px;
  margin-top: 10px;
  margin-bottom: 0;
}
.menu__plat p {
  padding-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu__plat .prix {
  font-weight: bold;
  padding-right: 15px;
}
.menu__plat .fas {
  display: none;
}
.foot {
  background-color: #2c2c2c;
  color: white;
  padding-bottom: 20px;
}
.foot__title {
  font-family: "Shrikhand", sans-serif;
  padding-top: 20px;
  text-align: left;
}
.foot__list {
  list-style-type: none;
  position: relative;
  right: 20px;
}
.foot__list li {
  margin-top: 5px;
}
.foot__links {
  text-align: left;
  text-decoration: none;
  color: white;
}
.foot .fa-hands-helping {
  font-size: 0.8em;
}
.foot .fa-utensils {
  font-size: 1.05em;
}

/*# sourceMappingURL=style.css.map */
